# SQL Lab

Congratulations! We've been hired as analysts at Classic Model Car Company, and you've been handed keys to the Data Warehouse.  They want you to hit the ground running with analysis! We have lots of questions to answer.  First, let's connect to the database.

1. Connect via MySQL Credentials
  - hostname: `hbs-ds-060120.c1doesqrid0e.us-east-1.rds.amazonaws.com`
  - username: `hbs-student`
  - password: (distributed via slack)
  - port: 3306 (default)
  - database: `classicmodels`

2. Take a moment to study the schema, noting the keys. Browse the data in each relation if you wish. Answer the following queries. I've given you the expected results below each query.

3. Answer the following questions! Do them in your MySQL client first, most likely, then bring them into Pandas here in this notebook.

In [2]:
!pip install MySQL-connector-python

Collecting MySQL-connector-python
  Downloading mysql_connector_python-8.0.20-cp37-cp37m-win_amd64.whl (4.3 MB)
Collecting protobuf>=3.0.0
  Downloading protobuf-3.12.2-cp37-cp37m-win_amd64.whl (1.0 MB)
Requirement already satisfied: six>=1.9 in c:\users\adebodun aina\anaconda3\lib\site-packages (from protobuf>=3.0.0->MySQL-connector-python) (1.14.0)
Requirement already satisfied: setuptools in c:\users\adebodun aina\anaconda3\lib\site-packages (from protobuf>=3.0.0->MySQL-connector-python) (45.2.0.post20200210)
Installing collected packages: protobuf, MySQL-connector-python
Successfully installed MySQL-connector-python-8.0.20 protobuf-3.12.2

In [5]:
import pandas as pd
import mysql.connector

con = mysql.connector.connect(user='hbs-student', password='super-secure-password?',
                              host='hbs-ds-060120.c1doesqrid0e.us-east-1.rds.amazonaws.com',
                              database='classicmodels')

1. List all customer names and their addresses who don't have a specified sales rep. Order by customer name.

In [6]:
pd.read_sql_querry("""
SELECT contactLastName,
        contactFirstName,
         addressLine1,
         addressLine2,
         city,
         state,
         postalCode,
         country
FROM classicmodels.customers
WHERE salesRepEmployeeNumber IS NULL
order by 1;
""",con)

AttributeError: module 'pandas' has no attribute 'read_sql_querry'

2. List the names of all customers that have a creditLimit between 100,000 and 200,000 inclusively. Order by customer name.

In [ ]:
-- List the names of all customers that have a creditLimit between 100,000 and 200,000 inclusively. Order by customer name.
SELECT contactLastName,
		contactFirstName,
        addressLine1,
        addressLine2,
        city,
        state,
        postalCode,
        country,
        creditLimit
FROM classicmodels.customers
WHERE creditLimit BETWEEN 100000 AND 200000
order by contactlastName;


3. List all employees who have the initials of M.P. or P.M., by name. Order by last name.

In [ ]:
-- List all employees who have the initials of M.P. or P.M., by name. Order by last name.
SELECT contactFirstName,
		contactLastName
FROM classicmodels.customers
WHERE (contactFirstName REGEXP '^[P].*$' and contactLastName REGEXP '^[M].*$') or (contactFirstName REGEXP '^[M].*$' and contactLastName REGEXP '^[P].*$');

4. List all the products' productNames purchased by Mini Wheels Co. Order the list by product line.

In [ ]:
-- List all the products' productNames purchased by Mini Wheels Co. Order the list by product line.
SELECT productName, customerName, productLine
FROM customers
JOIN orders
USING(customerNumber)
JOIN orderdetails
USING(orderNumber)
JOIN products
USING(productCode)
JOIN productlines
USING(productLine)
WHERE customerName = 'Mini Wheels Co.'
ORDER BY productLine

5. List the customers by customerName whose contact person shares either a first name or last name with any of the company's employees Order by customerName

7. List the customers (by name) that are based in the country which is first in the lexicographic order of customer countries. Order by customerName

8. Identify the product(s) by productCode and productName that the company has the least stock of. Order by product code.

9. Identify the offices (by city) that have the least employees and the most employees (answer should include city, numEmps)

10. For all Sales Reps list their names (first and last) and the name of the office they work out of and the number of clients they represent. Order by reverse order of numClients

11. List the customer(s) and their total payments (answer should include customerNumber, customerName, totalPayment where totalPayment is the total amount of dollars the customer has paid). Order by totalPayment.

12. List the product number, product name, and customer name such that the customer has never ordered that product. Order by customerName, productCode.

13. List the profit per product that the company would make if it were able to sell all of that product at MSRP (answer should include productName, profit). Order by profit.

14. List the average order size for each customer (answer should include customerName, avgQuantity) Order by customer name.